hr {
  background-color: rgba(0, 0, 0, 0);
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(255, 255, 255, 0);
}

#cards-forecast {
  display: flex;
  flex-direction: row;
  justify-content: center/space-between;
}

#icon-date-city,
#city-name,
#cur-icon {
  display: flex;
  flex-direction: row;
  justify-content: center/space-around/space-between;
}

.forecast {
  margin: 5px;
}
