hr {
  background-color: black;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

#forecast-cards {
    display: flex;
    flex-direction: row;
    justify-content: center/space-between;
}